# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# IDE files
.vscode/
.idea/
.idea/vcs.xml
*.swp

# Logs and Debugging
logs/
*.log

# Test & Coverage Reports
.coverage
htmlcov/
*.pytest_cache/

# Selenium WebDriver Cache
chromedriver.log

# Dependency Files
pip-log.txt
pip-delete-this-directory.txt
util/config.json

# OS-Specific Files
.DS_Store
Thumbs.db

# GitHub Actions cache
.github/workflows/*.log
